.recipePane,
.sortNamePane,
.sortTimePane,
.sortNameArrowPane,
.sortTimeArrowPane {
	-fx-background-color: #F3F3F3;
}

.recipePane:hover,
.sortNamePane:hover,
.sortTimePane:hover,
.sortNameArrowPane:hover,
.sortTimeArrowPane:hover {
	-fx-background-color: #ECECEC;
}

.sortSelected > .sortLabel,
.sortSelected > .sortLabel:hover {
	-fx-font-weight: bold;
	-fx-font-size: 28px;
	-fx-font-style: italic;
}

.asc > .sortImage {
	-fx-rotate: 0;	
}

.desc > .sortImage {
	-fx-rotate: 180;
}