.sortNamePane,
.sortTimePane,
.sortNameArrowPane,
.sortTimeArrowPane,
.returnButton {
	-fx-background-color: #f3f3f3 !important;
}

.sortNamePane:hover,
.sortTimePane:hover,
.sortNameArrowPane:hover,
.sortTimeArrowPane:hover,
.returnButton:hover {
	-fx-background-color: #ececec !important;
}

.sortSelected > .sortLabel,
.sortSelected > .sortLabel:hover {
	-fx-font-weight: bold;
	-fx-font-size: 28px;
	-fx-font-style: italic;
}

.asc > .sortImage {
	-fx-rotate: 0;
}

.desc > .sortImage {
	-fx-rotate: 180;
}
